In [1]:
import pandas as pd

import tensorflow as tf

from tensorflow import keras

from sklearn.model_selection import train_test_split

import numpy as np

In [129]:
df = pd.read_csv('/content/Smoker prediction.csv')

In [130]:
df.head()

,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),systolic,relaxation,...,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries,smoking
0,35,170,85,97.0,0.9,0.9,1,1,118,78,...,70,142,19.8,1,1.0,61,115,125,1,1
1,20,175,110,110.0,0.7,0.9,1,1,119,79,...,71,114,15.9,1,1.1,19,25,30,1,0
2,45,155,65,86.0,0.9,0.9,1,1,110,80,...,57,112,13.7,3,0.6,1090,1400,276,0,0
3,45,165,80,94.0,0.8,0.7,1,1,158,88,...,46,91,16.9,1,0.9,32,36,36,0,0
4,20,165,60,81.0,1.5,0.1,1,1,109,64,...,47,92,14.9,1,1.2,26,28,15,0,0

In [131]:
df = df[:2000]

In [132]:
df

,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),systolic,relaxation,...,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries,smoking
0,35,170,85,97.0,0.9,0.9,1,1,118,78,...,70,142,19.8,1,1.0,61,115,125,1,1
1,20,175,110,110.0,0.7,0.9,1,1,119,79,...,71,114,15.9,1,1.1,19,25,30,1,0
2,45,155,65,86.0,0.9,0.9,1,1,110,80,...,57,112,13.7,3,0.6,1090,1400,276,0,0
3,45,165,80,94.0,0.8,0.7,1,1,158,88,...,46,91,16.9,1,0.9,32,36,36,0,0
4,20,165,60,81.0,1.5,0.1,1,1,109,64,...,47,92,14.9,1,1.2,26,28,15,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,30,170,65,86.0,1.2,1.5,1,1,120,63,...,43,113,15.1,1,1.0,37,65,27,0,0
1996,45,160,80,92.7,1.0,0.7,1,1,125,70,...,38,146,13.6,1,0.8,16,25,26,1,0
1997,50,155,55,79.0,1.2,1.0,1,1,120,70,...,72,115,15.0,1,0.6,23,18,18,0,0
1998,40,175,70,79.0,0.7,0.7,1,1,113,82,...,38,83,15.8,1,1.0,19,23,81,0,1
1999,35,165,60,78.0,1.2,1.2,1,1,114,69,...,30,85,15.4,1,0.8,19,21,16,0,0

In [133]:
df.dropna

<bound method DataFrame.dropna of       age  height(cm)  weight(kg)  waist(cm)  eyesight(left)  eyesight(right)  \
0      35         170          85       97.0             0.9              0.9
1      20         175         110      110.0             0.7              0.9
2      45         155          65       86.0             0.9              0.9
3      45         165          80       94.0             0.8              0.7
4      20         165          60       81.0             1.5              0.1
...   ...         ...         ...        ...             ...              ...
1995   30         170          65       86.0             1.2              1.5
1996   45         160          80       92.7             1.0              0.7
1997   50         155          55       79.0             1.2              1.0
1998   40         175          70       79.0             0.7              0.7
1999   35         165          60       78.0             1.2              1.2

      hearing(left)  hearing(right)  systolic  relaxation  ...  HDL  LDL  \
0                 1               1       118          78  ...   70  142
1                 1               1       119          79  ...   71  114
2                 1               1       110          80  ...   57  112
3                 1               1       158          88  ...   46   91
4                 1               1       109          64  ...   47   92
...             ...             ...       ...         ...  ...  ...  ...
1995              1               1       120          63  ...   43  113
1996              1               1       125          70  ...   38  146
1997              1               1       120          70  ...   72  115
1998              1               1       113          82  ...   38   83
1999              1               1       114          69  ...   30   85

      hemoglobin  Urine protein  serum creatinine   AST   ALT  Gtp  \
0           19.8              1               1.0    61   115  125
1           15.9              1               1.1    19    25   30
2           13.7              3               0.6  1090  1400  276
3           16.9              1               0.9    32    36   36
4           14.9              1               1.2    26    28   15
...          ...            ...               ...   ...   ...  ...
1995        15.1              1               1.0    37    65   27
1996        13.6              1               0.8    16    25   26
1997        15.0              1               0.6    23    18   18
1998        15.8              1               1.0    19    23   81
1999        15.4              1               0.8    19    21   16

      dental caries  smoking
0                 1        1
1                 1        0
2                 0        0
3                 0        0
4                 0        0
...             ...      ...
1995              0        0
1996              1        0
1997              0        0
1998              0        1
1999              0        0

[2000 rows x 23 columns]>

In [134]:
df.isnull().sum()

age                    0
height(cm)             0
weight(kg)             0
waist(cm)              0
eyesight(left)         0
eyesight(right)        0
hearing(left)          0
hearing(right)         0
systolic               0
relaxation             0
fasting blood sugar    0
Cholesterol            0
triglyceride           0
HDL                    0
LDL                    0
hemoglobin             0
Urine protein          0
serum creatinine       0
AST                    0
ALT                    0
Gtp                    0
dental caries          0
smoking                0
dtype: int64

In [135]:
df.head()

,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),systolic,relaxation,...,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries,smoking
0,35,170,85,97.0,0.9,0.9,1,1,118,78,...,70,142,19.8,1,1.0,61,115,125,1,1
1,20,175,110,110.0,0.7,0.9,1,1,119,79,...,71,114,15.9,1,1.1,19,25,30,1,0
2,45,155,65,86.0,0.9,0.9,1,1,110,80,...,57,112,13.7,3,0.6,1090,1400,276,0,0
3,45,165,80,94.0,0.8,0.7,1,1,158,88,...,46,91,16.9,1,0.9,32,36,36,0,0
4,20,165,60,81.0,1.5,0.1,1,1,109,64,...,47,92,14.9,1,1.2,26,28,15,0,0

In [136]:
df.columns

Index(['age', 'height(cm)', 'weight(kg)', 'waist(cm)', 'eyesight(left)',
       'eyesight(right)', 'hearing(left)', 'hearing(right)', 'systolic',
       'relaxation', 'fasting blood sugar', 'Cholesterol', 'triglyceride',
       'HDL', 'LDL', 'hemoglobin', 'Urine protein', 'serum creatinine', 'AST',
       'ALT', 'Gtp', 'dental caries', 'smoking'],
      dtype='object')

In [137]:
X = df.drop(columns="smoking")

y=df[['smoking']]

In [138]:
X

,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),systolic,relaxation,...,triglyceride,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries
0,35,170,85,97.0,0.9,0.9,1,1,118,78,...,153,70,142,19.8,1,1.0,61,115,125,1
1,20,175,110,110.0,0.7,0.9,1,1,119,79,...,128,71,114,15.9,1,1.1,19,25,30,1
2,45,155,65,86.0,0.9,0.9,1,1,110,80,...,120,57,112,13.7,3,0.6,1090,1400,276,0
3,45,165,80,94.0,0.8,0.7,1,1,158,88,...,366,46,91,16.9,1,0.9,32,36,36,0
4,20,165,60,81.0,1.5,0.1,1,1,109,64,...,200,47,92,14.9,1,1.2,26,28,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,30,170,65,86.0,1.2,1.5,1,1,120,63,...,104,43,113,15.1,1,1.0,37,65,27,0
1996,45,160,80,92.7,1.0,0.7,1,1,125,70,...,81,38,146,13.6,1,0.8,16,25,26,1
1997,50,155,55,79.0,1.2,1.0,1,1,120,70,...,89,72,115,15.0,1,0.6,23,18,18,0
1998,40,175,70,79.0,0.7,0.7,1,1,113,82,...,215,38,83,15.8,1,1.0,19,23,81,0
1999,35,165,60,78.0,1.2,1.2,1,1,114,69,...,165,30,85,15.4,1,0.8,19,21,16,0

In [154]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


model = keras.Sequential([
                          
    keras.layers.Flatten(input_shape=(22,)), #Input Layer
    

    keras.layers.Dense(15, activation=tf.nn.relu), #Hidden Layer 1
	 
    keras.layers.Dense(10, activation=tf.nn.relu),  #Hidden Layer 2
   

    keras.layers.Dense(1, activation=tf.nn.sigmoid), #Output Layer

])


model.compile(optimizer='Adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=20, batch_size=1)

test_loss, test_acc = model.evaluate(X_test, y_test)
print('Test accuracy:', test_acc)

Epoch 1/20
1600/1600 [==============================] - 4s 2ms/step - loss: 4.3237 - accuracy: 0.6231
Epoch 2/20
1600/1600 [==============================] - 3s 2ms/step - loss: 1.1268 - accuracy: 0.6650
Epoch 3/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.8796 - accuracy: 0.6837
Epoch 4/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.7980 - accuracy: 0.6675
Epoch 5/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.7579 - accuracy: 0.6656
Epoch 6/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.6925 - accuracy: 0.6731
Epoch 7/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.6570 - accuracy: 0.6888
Epoch 8/20
1600/1600 [==============================] - 4s 2ms/step - loss: 0.6152 - accuracy: 0.6963
Epoch 9/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.6070 - accuracy: 0.6800
Epoch 10/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.5841 - accuracy: 0.7000
Epoch 11/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.5690 - accuracy: 0.7044
Epoch 12/20
1600/1600 [==============================] - 4s 2ms/step - loss: 0.5719 - accuracy: 0.6988
Epoch 13/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.5662 - accuracy: 0.6944
Epoch 14/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.5580 - accuracy: 0.7006
Epoch 15/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.5583 - accuracy: 0.7044
Epoch 16/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.5554 - accuracy: 0.7181
Epoch 17/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.5568 - accuracy: 0.7125
Epoch 18/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.5526 - accuracy: 0.7163
Epoch 19/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.5537 - accuracy: 0.7019
Epoch 20/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.5504 - accuracy: 0.7150
13/13 [==============================] - 0s 3ms/step - loss: 0.6066 - accuracy: 0.6550
Test accuracy: 0.6549999713897705

In [158]:
values= np.array([[50,165,80,94.0,1.2,0.9,1,1,128,80,135,169,164,34,102,15.9,1,0.8,28,30,44,0]])

Predict = model.predict(a)


if Predict>0.5:
  print("Smoking Habit is there")
  
else:
  print("No Smoking Habit")

1/1 [==============================] - 0s 38ms/step
Smoking Habit is there

In [159]:
Predict

array([[0.65222436]], dtype=float32)